<table>
  <tr>
    <td>nombre</td>
    <td>apellido</td>
  </tr>
  <tr *ngFor="let autor of authors">
    <td>{{autor.name}}</td>
    <td>{{autor.lastname}}</td>
  </tr>
</table>
<hr>
<div class="container-fluid col-6">
  <h3 class="card-header text-success">{{titulo}}</h3>

  <form [formGroup]="autorForm">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Id Autor</label>
        <input type="text" formControlName="code"
         class="form-control" placeholder="Author Id.">
      </div>

      <div class="form-group col-md-6">

        <label for="inputPassword5"> Name</label>
        <input type="text" formControlName="name"
        class="form-control" placeholder="Name">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword6">lastname</label>
        <input type="text" formControlName="lastname"
        class="form-control"  placeholder="lastname">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword7">Fecha de Nacimiento</label>
        <input type="date" formControlName="bd_year"
        class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword8">Fecha de muerte</label>
        <input type="date" formControlName="death_year"
        class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword8">Lugar de Nacimiento</label>
        <input type="text" formControlName="bd_place" 
        class="form-control"  placeholder="Lugar de Nacimiento">
      </div>
      
    </div>
    <button type="button" (click)="saveForm()" [disabled]="autorForm.invalid" class="btn btn-success">Enviar</button>
  </form>
  <h6 class="text-primary">
      {{autorForm.value| json}}
   </h6>
</div>
