<hr>
<div class="container-fluid col-6">
  <h3 class="card-header text-success">Libro</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Id Libro</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Libro Id.">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword5">Nombre Libro</label>
        <input type="text" class="form-control" id="inputPassword5" placeholder="Nombre Libro">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword5">Tipo Libro</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Seleccione</option>
        </select>
      </div>

      <div class="form-group col-md-6">
      <label for="inputPassword5">Autor</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Seleccione</option>
      </select>
    </div>

      <div class="form-group col-md-6">
        <label for="inputPassword5">Área</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Seleccione</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword5">Editorial</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Seleccione</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="inputPassword6">Descripcion</label>
        <input type="text" class="form-control" id="inputPassword6" placeholder="Destricion Tipo">
      </div>



</div>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

