<hr>
<div class="container-fluid col-6">
  <h3 class="card-header text-success">{{titulo}}</h3>
{{tipoForm.value| json}}
  <form [formGroup]="tipoForm">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Id Tipo</label>
        <input type="text" formControlName="idTipo" 
         class="form-control"  placeholder="Tipo Id.">
      </div>

      <div class="form-group col-md-6">
        <label>Tipo Libro</label>
        <input type="text" formControlName="tipoLibro" 
         class="form-control" placeholder="Nombre Tipo">
      </div>

      <div class="form-group col-md-6">
        <label>Descripcion</label>
        <input type="text" formControlName="descripcion" 
        class="form-control" placeholder="Descripcion Tipo">
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="saveForm()" [disabled]="tipoForm.invalid"    >Enviar</button>
  </form>
</div>

