<hr>
<div class="container-fluid col-6">
<h3 class="card-header text-success">{{titulo}}</h3>
  <form [formGroup]="editorialForm">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Id Editorial</label>
        <input type="text" formControlName="code" 
         class="form-control"  placeholder="Editorial Id.">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword5">Descripcion Editorial</label>
        <input type="text" formControlName="descripcion"
         class="form-control"  placeholder="Descripcion Editorial">
      </div>

      <div class="form-group col-md-6">
       <label for="inputPassword6">Ciudad</label>
       <input type="text" formControlName="country" 
        class="form-control"  placeholder="Ciudad Editorial">
     </div>
     </div>
    <button type="button"(click)="saveForm()" [disabled]="editorialForm.invalid"   class="btn btn-success">Enviar</button>
  </form>
</div>
<div>
  <h6 class="text-primary">
      {{editorialForm.value| json}}
  </h6>

</div>


