<hr>
<div class="container-fluid col-6">
<h3 class="card-header text-success">Editorial</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Id Editorial</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Editorial Id.">
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword5">Nombre Editorial</label>
        <input type="text" class="form-control" id="inputPassword5" placeholder="Nombre Editorial">
      </div>

      <div class="form-group col-md-6">
       <label for="inputPassword6">Direccion Editorial</label>
       <input type="text" class="form-control" id="inputPassword6" placeholder="Direccion Editorial">
     </div>

      <div class="form-group col-md-6">
        <label for="inputPassword6">Direccion Editorial</label>
        <input type="text" class="form-control" id="inputPassword6" placeholder="Direccion Editorial">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword6">Telefono Editorial</label>
        <input type="text" class="form-control" id="inputPassword6" placeholder="Telefono Editorial">
      </div>
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

